@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #ffffff;
  --primary: #ffc519;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Hero';
  src: url('/font/Hero-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kiona';
  src: url('/font/Kiona-Regular.ttf') format('truetype');
}

.font-hero {
  font-family: 'Hero', sans-serif;
}

.font-kiona {
  font-family: 'Kiona', sans-serif;
}

body {
  color: var(--foreground);
  font-family: Hero, sans-serif;
  /* background-color: #2e2e2e; */
  overflow-x: hidden;
}

.nav-a {
  position: relative;
  transition: all .3s ease;
}

.nav-a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ffc419;
  transition: all .3s ease;
}

.nav-a::before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ffc419;
  transition: all .3s ease;
}

.nav-a:hover {
  color: white;
  text-shadow: 0 0 8px #ffffff, 0 0 16px #ffffff, 0 0 24px #ffffff;
}

.nav-a:hover::after {
  width: 50%;
}

.nav-a:hover::before {
  width: 50%;
}

.card-category-pill {
  position: relative;
}

.card-category-pill::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 35%;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--foreground);
  transition: all .3s ease;
}
