@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'SharpSans';
  src: url('/font/Sharp Sans Medium.ttf') format('truetype');
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: SharpSans, sans-serif;
  overflow-x: hidden;
}

.nav-a {
  position: relative;
  transition: all .3s ease;
}

.nav-a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--foreground);
  transition: all .3s ease;
}
.nav-a::before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--foreground);
  transition: all .3s ease;
}

.nav-a:hover::after {
  width: 50%;
}
.nav-a:hover::before {
  width: 50%;
}
